<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <title>Numadic</title>
  <style>
    #map,body,html{height:100%}body,html{margin:0;padding:0;font-family:'Open Sans',sans-serif}.TripDetailActivityInfoWindow{min-width:300px;max-width:350px;overflow-x:hidden;padding:0}.TripDetailActivityInfoWindow .header{font-size:16px;text-align:center;color:#5E6069;padding-left:6px;display:inline-block;font-weight:600}.TripDetailActivityInfoWindow .horizontal-line{height:3px;border-bottom:1px solid #d2d2d6;margin-top:5px;margin-bottom:8px}.TripDetailActivityInfoWindow .details{font-size:12px;line-height:1.17;color:#7f7f7f}.TripDetailActivityInfoWindow .details tr td{padding:10px 5px 0}.TripDetailActivityInfoWindow .details .info-label{color:#5E6069;display:inline-block;font-weight:600}.TripDetailActivityInfoWindow .details .info-data{color:#5E6069;display:inline-block;margin-left:5px}.TripDetailActivityInfoWindow .coordinates,.TripDetailActivityInfoWindow .location{text-align:left;font-size:12px;line-height:20px}.TripDetailActivityInfoWindow .location{max-width:230px}.TripDetailActivityInfoWindow .label{font-size:12px;color:#5E6069;padding-left:0;font-weight:400}.TripDetailActivityInfoWindow .content{font-size:12px;color:#5E6069;font-weight:600}
  </style>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
</head>
<body>
<div id="map"></div>
<script type="text/javascript">

    function convertToDateTime(epoch){
        return Number(epoch) ? moment.unix(Number(epoch)).format("D MMM YYYY, h:mma") : "-"
    }

    function converToDuration(durationMin){
      const units = {
        "Y": 24 * 60 * 365,
        "M": 24 * 60 * 30,
        "W": 24 * 60 * 7,
        "d": 24 * 60,
        "h": 60,
        "m": 1
      };
      let result = "";
      for(let name in units) {
          const p = Math.floor(durationMin / units[name]);
          if(p >= 1) result = result.concat(p + name + " ");
            durationMin %= units[name]
        }
        return result;
    }

    function initMap() {
      const data = JSON.parse('<%- JSON.stringify(data) %>');
      const map = new google.maps.Map(document.getElementById('map'));

      const estPolylinePath = google.maps.geometry.encoding.decodePath(data.est_path);

      // Draw estimated outline
      const estMapPolylineOuter = new google.maps.Polyline({
        path: estPolylinePath,
        geodesic: true,
        strokeColor: '#898989',
        strokeOpacity: 1.0,
        strokeWeight: 7
      });
      estMapPolylineOuter.setMap(map);

      const estMapPolylineInner = new google.maps.Polyline({
        path: estPolylinePath,
        geodesic: true,
        strokeColor: '#CCCCCC',
        strokeOpacity: 1.0,
        strokeWeight: 4
      });
      estMapPolylineInner.setMap(map);

        // actual trip outline
      const tripPathPolylineOutline = new google.maps.Polyline({
        path: data.act_path,
        geodesic: true,
        strokeColor: '#4A7CB5',
        strokeOpacity: 1.0,
        strokeWeight: 7
      });
      tripPathPolylineOutline.setMap(map);

        // actual trip line
      const tripPathPolyline = new google.maps.Polyline({
        path: data.act_path,
        geodesic: true,
        strokeColor: '#00B2FF',
        strokeOpacity: 1.0,
        strokeWeight: 4
      });
      tripPathPolyline.setMap(map);

      const bounds = new google.maps.LatLngBounds();
      bounds.extend({
            lat: data.startLocation.lat,
            lng: data.startLocation.lon
        });
        bounds.extend({
            lat: data.endLocation.lat,
            lng: data.endLocation.lon
        });

        if(data.currentLocation){
          const currentLocationMarker = new google.maps.Marker({
            position: {
              lat: data.currentLocation.lat,
              lng: data.currentLocation.lon
            },
            map: map,
            icon: {
              path: "M6.103.916c.22-.506.578-.5.794 0l5.706 13.168c.22.506.014.703-.489.434 0 0-3.459-2.018-5.614-2.018S.874 14.524.874 14.524c-.483.263-.693.06-.477-.44L6.103.916z",
              fillColor: "#008CFF",
              fillOpacity: 1,
              scale: 1.3,
              strokeColor: "#FFFFFF",
              strokeWeight: 2,
              rotation: 0,
              origin: {x: 0, y: 0},
              anchor: {x: 5, y: 0}
            }
          });

          currentLocationMarker.addListener('click', function () {
                new google.maps.InfoWindow({
                    content: '<div class="TripDetailActivityInfoWindow">\
                  <div class="row">\
                  <div class="col-md-12">\
                  <div class="header">Vehicle location</div>\
                  </div></div><div class="horizontal-line"></div><table class="details"><thead>\
                  <tr><td><span class="info-label">Distance</span></td>\
                  <td><span class="info-data">'+ data.distance +'</span></td></tr>\
                  <tr><td><span class="info-label">ETA</span></td>\
                  <td><span class="info-data">'+ data.eta +'</span></td></tr>\
                  </thead></table></div>'
                }).open(map, currentLocationMarker);
            });
        }
        data.trip_log.forEach(function(i){
          let icon_color = "#FFFFFF";
          let icon_border = "#008CFF";
          let label_color = "#008CFF";
          if(i.type === 'unplanned'){
                icon_color = "#F1961C";
                icon_border = "#FFFFFF";
                label_color = "#FFFFFF"
            }else if(i.type === 'planned'){
                if(i.crossed){
                    icon_color = "#008CFF";
                    icon_border = "#FFFFFF";
                    label_color = "#FFFFFF"
                }
            }

          const wp = new google.maps.Marker({
            position: {
              lat: i.lat,
              lng: i.lon
            },
            map: map,
            label: {
              text: i.label,
              color: label_color,
              fontSize: "16px",
              fontWeight: "bold"
            },
            icon: {
              path: "M11.5 26.136S23 18.032 23 11.616C23 5.201 17.851 0 11.5 0S0 4.72 0 11.616s11.5 14.52 11.5 14.52z",
              fillColor: icon_color,
              fillOpacity: 1,
              scale: 1.3,
              strokeColor: icon_border,
              strokeWeight: 2,
              rotation: 0,
              labelOrigin: {x: 11, y: 11},
            }
          });

          wp.addListener('click', function () {
                new google.maps.InfoWindow({
                    content: '<div class="TripDetailActivityInfoWindow">\
                  <div class="row">\
                  <div class="col-md-12">\
                  <div class="header">\
                  ' + i.lname +'\
                  </div>\
                  </div></div><div class="horizontal-line"></div><table class="details"><thead><tr><td><span class="info-label">Waypoint type</span></td>\
                  <td><span class="info-data">'+ i.type +' stop '+ i.label +'</span></td></tr><tr><td><span class="info-label">Coordinates</span></td>\
                  <td><span class="info-data">'+ i.lat +' , '+ i.lon +'</span></td></tr>\
                  <tr><td><span class="info-label">Arrival time</span></td>\
                  <td><span class="info-data">'+ convertToDateTime(i.arrivalTis) + '</span></td></tr>\
                  <tr><td><span class="info-label">Departure time</span></td>\
                  <td><span class="info-data">'+ convertToDateTime(i.departureTis) + '</span></td></tr>\
                  <tr><td><span class="info-label">Dwell duration</span></td>\
                  <td><span class="info-data">'+ converToDuration(i.dwellDuration) +'</span></td></tr></thead></table></div>'
                }).open(map, wp);
            });
        });

        map.fitBounds(bounds);
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?libraries=geometry&callback=initMap">
</script>
</body>
</html>
